@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.custom-clip {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    39% 75%,
    29% 91%,
    19% 75%,
    0% 75%
  );
}